@import url(common.css);

.container {    
    display: flex;
    /* justify-content: center;
    align-items: center; */
    flex-direction: column;
    padding: 20px;
    margin-top: 60px;
}
.container-cards {
    display: grid;
    margin: 20px 0 ;
    grid-template-columns: repeat(auto-fit, minmax(329px, 330px));
    gap: 50px;
    align-self: center;
    width: 70%;
}

/* @media screen and (max-width: 1366px) {
    .container-cards {
        width: 85%;
    }
}  */

.card {
    width: 330px;
    height: fit-content;
    background-color: #fff;
    border-top-right-radius: 15px;
    border-top: 2px solid;
    border-right: 2px solid;
    padding: 10px 10px 0;
    border-color: black;
    cursor: pointer;    
}
.card:hover {
    border-color: #e10600;
    transform: translateY(-8px);
    transition: transform 0.4s;

}

.card .img-card{
    width: 100%;
    display: flex;
    min-height: 100px;
    align-items: flex-end;
    justify-content: flex-end;
    border-bottom: 2px solid black;
    position: relative;
}
.img-card img {
    /* max-width: 170px; */
    margin: 5px;
}
.img-card .pilot-number {
    max-width: 110px;
    position: absolute;
    left: -20px;
    top: 8px;
    align-self: baseline;
}

.img-card .pilot-number:hover {
    transform: rotatey(30deg);
    transition: transform 0.5s;
}

.text-content {
    width: 100%;
    height: auto;
    padding-bottom: 5px;
}
.img-card h3 {
    text-align: end;
    margin: 0;
    font-size: 20px;
}
.img-card .firstName {
    font-weight: 500;
    font-family: 'Formula1 Display Bold', sans-serif;
    position: absolute;
    left: 0;
    bottom: 25px;
    font-size: 18px;
}
.img-card .secondName {
    
    position: absolute;
    left: 0;
    bottom: 5px;
}
.img-card h3 a{
    text-decoration: none;
    color: inherit;
}
.img-card h3 a:hover {
    font-size: 20.5px;
    transition: transform 1s;
}
.text-content p {
    font-size: 14px;
    line-height: 10px;
}

