body {
    margin: 0;
    font-family: 'Formula1 Display Regular', sans-serif;
    font-weight: 500;
}
header {
    background-color: #e10600 ;
    height: 70px;
    width: 100%;
    display: flex;
    align-items: center;
    padding: 5px;
}
header .logo{
    align-self: center;
    height: 50%;
}

.container {
    width: 100%;
    border: 1px solid red;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.card {
    width: 280px;
    height: auto;
    background-color: #fff;
    /* box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px; */
    border-top-right-radius: 8px;
    border-top: 2px solid;
    border-right: 2px solid;
    padding: 10px;
    border-color: black;
    cursor: pointer;
}
.card .img-card{
    width: 100%;
    display: flex;
    min-height: 100px;
    align-items: center;
    justify-content: center;
    border-bottom: 2px solid black;
    
}
.img-card img {
    max-width: 150px;
    margin: 5px;
}
.text-content {
    width: 100%;
    height: auto;
    padding-bottom: 5px;
}
.text-content h3 {
    text-align: center;
}
.text-content p {
    font-size: 14px;
}
footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #15151e;
    height: 100px;
    width: 100%;
    color: #fff;
    position: absolute;
    bottom: 0;
}

footer a {
    color: #e10600;
    text-decoration: none;
}
footer a:hover {
    font-weight: 600;
}
